In [6]:
import pandas as pd # type: ignore

In [13]:
df = pd.read_csv(('output/spain_stocks.csv'))
df.drop(df.columns[0], axis=1, inplace=True)
df.head()

,Abreviatura,Nombre Empresa,Valor Total,Precio Stock,Delta Valor
0,ITX,"Industria de Diseño Textil, S.A.",173.87B,55.82,0.07%
1,AIR,Airbus SE,122.65B,155.58,-0.08%
2,IBE,"Iberdrola, S.A.",83.06B,13.45,-0.48%
3,SAN,"Banco Santander, S.A.",70.46B,4.64,-0.79%
4,BBVA,"Banco Bilbao Vizcaya Argentaria, S.A.",55.06B,9.55,-0.81%